.social {
  padding: 0.5rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 5.43819rem;
  background: #fff;
  box-shadow: 0px 3.48px 13.052px 0px rgba(0, 0, 0, 0.05);
}

.social-para {
  color: #5f6368;
  font-size: 0.75rem;
  font-weight: 400;
  line-height: 1.30088rem; /* 173.447% */
}

.social-icons {
  display: flex;
  gap: 1.12rem;
}

/* larger screen styles */
@media screen and (min-width: 768px) {
  .social {
    gap: 1rem;
    padding: 0.625rem 1.25rem;
    flex-direction: row;
    gap: 1rem;
  }
}
